.column0{
    background-color: rgb(255, 255, 255);
}
.btn{
    background: none;
    border: none;
}
.column1{
    background-color: rgb(235, 235, 235);
}

.descript{
    max-width: 250px;
    max-height: 150px;
    overflow-wrap:break-word;
    overflow-y: hidden
   
}