@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
*{
    font-family: 'Outfit', sans-serif;
    font-size: 20px;
}

a{
    text-decoration: none;
    
}
body {
  background: #1B1A1A;
  margin: 0px;
}

ul {
  padding: 0px;
  display: flex;
  justify-content: space-around;
}
li {
  display: inline;
  padding-right: 10px;
}
.loginimg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
}
.leftbar {
  width: 33%;
}
.logoBar {
  text-align: center;
  width: 33%;
}
.barStyle2{
  width: 33%;
  display: flex;
  align-items: center;
}

.barStyle3{
  display: flex;
  justify-content: space-around;
  width: 100%;
  color: #DDD8CE;
  background: #59483F;
}

.barStyle3 a{
  color: #DDD8CE;
}


.infoHome{
  background: #735C49;
  border-radius: 20px;
  margin-top: 50px;
}

.textstyleInfo{
  margin: 20px 40px 20px 40px;
  color: #DDD8CE;
}