.container{
    margin: 0px 20% 0px 20%;
}
input{
    margin: 0;
}
.loginplace{
    display: flex;
    justify-content:center;
    align-items: center;
}
.styleLogin{
    background-color: rgb(194, 194, 194);
    padding: 40px 50px 40px 50px;
    border-radius: 20px;
    box-shadow: 2px 2px 3px #c5c5c5;
}
input{

}
#login{
    width: 98%;
}
.btnStyle{
    margin-top: 30px;

}

.btnStyle button{
    height: 40px;
    margin-bottom: 30px;
    width: 100%
}
h1{
    margin: 0px;
    padding: 0px;
}